/* body {
  font-size: 18px;
}

h1 {
  text-align: center;
}

.form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  box-shadow:  0 7px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
  padding: 15px;
  text-align: center;
}

.form input {
  font-size: 15px;
  padding: 12px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .1);
  border: none;
}

input + input, .form .buttons {
  margin-top: 15px;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 1;
}

.button,
.button:hover,
.button:active,
.button:visited {
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-decoration: none;
  background: #f1f1f1;
  color: #000;
  text-align: center;
  border: none;
  box-shadow: none;
  font-size: 16px;
}

.button + .button {
  margin-left: 15px;
}

.login-form .login {
  flex: 2;
}

.signup-form .signup {
  flex: 2;
} */

body {
  background-color: #024edb;
  font-family: "Varela Round", sans-serif;
}

.login {
  width: 100%;
}

.card-title {
  color: black;
}

.maincontainer {
  margin-top: 5%;
  color: rgb(255, 255, 255);
}

.section-left {
  width: 80%;
  height: auto;
  background-color: #024edb;
  margin: auto;
}

.section-right {
  width: 80%;
  width: 80%;
  height: auto;
  background-color: #024edb;
  margin: auto;
  padding-top: 40px;
}

.organize-icon {
  width: 70%;
  height: auto;
  padding-bottom: 25px;
}

.join {
  margin: auto;
  text-align: center;
}

/* sign up css */

.createcontainer {
  width: 40%;
  margin: auto;
  padding-top: 25px;
  color: #ddd;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 0.5px solid #000000;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signup,
.login {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.form {
  color: black;
  background-color: rgb(245, 245, 245);
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #838383;
}

.list-group-item {
  line-height: 2.5;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
