<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="/styles/style.css" />

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet" />

  <title>Welcome to quirk.</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default">
    <a class="navbar-brand" href="#">
      <h1>quirk.</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          </li>
        </ul>
      </div> -->
  </nav>

  <div class="maincontainer">
    <div class="row">
      <div class="col-7 text-center">
        <section class="section-left">

          <img class="organize-icon" src="/images/ecommerce.png" alt="icon">

          <br>

          <h1>
            Motivate yourself to achieve your goals with
            <strong style="color:rgb(0, 0, 0)"> quirk.</strong>
          </h1>

        </section>
      </div>
      <div class="col-5">
        <section class="section-right">
          <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
              <hr>
              <p class="text-primary text-center">Let's Get Organized.</p>
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input name="" class="form-control" placeholder="Email" type="email">
                  </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input class="form-control" placeholder="******" type="password">
                  </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-primary btn-block"> Login </button>
                </div> <!-- form-group// -->
              </form>
            </article>
          </div> <!-- card.// -->

          <br>

          <DIV class="join">
            <h6>
              It's time to have fun when you get things done! Join
              millions and improve your life one task at a time.
            </h6>


            <button type="submit" class="btn btn-warning center-block" id="createAccount"> Create an account! </button>

          </DIV>



          </aside> <!-- col.// -->
      </div> <!-- row.// -->


    </div>



    </section>
  </div>
  </div>
  </div>



</body>

<script>

  $("#createAccount").on("click", function (event) {
    event.preventDefault();

    // Send the GETrequest.
    $.ajax("/signup", {
      type: "GET",
    }).then(
      function () {
        window.location.replace("/signup")
      }
    );
  });

</script>

</html>