<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1> <a class="" href="/me">quirk.</a> </h1>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <p>Welcome, <strong>{{user.username}}</strong> | <a class="button logout " id="login-redirect" href="/">Logout</a>


      </p>

    </ul>
  </div>
</nav>


<div class="settingscontainer">


  <h2>Change Username</h2>

  <form>
    Current Username:<br>
    <input type="text" id="currentUsername">
    <br>
    New Username:<br>
    <input type="text" id="newUsername">
    <br><br>
  </form>

  <button id="updateUsername">Update!</button>

  <h3 id="showSubmit"></h3>

</div>


<footer class="footer">

  <i class="fas fa-copyright    "></i> 2019 quirk.

</footer>