<h2>Change Username</h2>

<form>
  Current Username:<br>
  <input type="text" id="currentUsername">
  <br>
  New Username:<br>
  <input type="text" id="newUsername">
  <br><br>
</form> 

<button id = "updateUsername">Update!</button>
